.bar{
    width: 25%;
    border: 3px solid #fa0000;
    /* color: #fa0000; */
    background-color: #E74040;
}
.package-section{
    margin-top: 150px;
}
.package-title{
    font-weight: 800;
    font-size: 2rem;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    
}
.popular-classes{
    margin-top: 150px;
}
.popular-instructors{
    margin-top: 150px;
}
.show-btn{
    color: #fff;
    padding: 15px 30px;
    background-color: rgb(150, 187, 124);
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
    border: none;
}
.newsletter{
    margin-top: 150px;
    background-color: #FFF2F3;
    padding: 10rem;
}

@media screen and (max-width: 576px){
    .package-title{
        text-align: center;
        font-size: 1.5rem;
    }   
    .card-wrapper{
        flex-direction: column;
        text-align: center;
    }
    .bar{
        width: 100%;
        border: 1px solid #fa0000;
        color: #fa0000;
    }
    .newsletter{
        padding: 10px;
    }
    .newsletter div{
        width: 100%;
    }
    .newsletter .top-title{
        padding-top: 15px;

    }
    .newsletter .description{
        width: 100%;
        
    }
    .newsletter .input-div{
        width: 100%;
    }

    /* Top margins */
    .package-section{
        margin-top: 50px;
    }
    .popular-classes{
        margin-top: 50px;
    }
    .popular-instructors{
        margin-top: 50px;
    }
    .newsletter{
        margin-top: 50px;
    }
}